Source: yoyo-gtk-themes
Section: gnome
Priority: optional
Maintainer: YoyoOS <support@yoyoos.com>
Build-Depends:
Standards-Version: 3.9.6
Homepage: https://yoyoos.com
Vcs-Git: https://github.com/yoyoos

Package: yoyo-gtk-themes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: YoyoOS GTK Themes